{% extends 'base/base.html' %}
{% load static %}


{% block layout %}
    <div class="layout easyui-layout" data-options="fit:true">
        <div id="center_window" data-options="region:'center', split:true" style="width:60%">
            {% block center %}
            {% endblock %}
        </div>
        {% block east_region %}
            <div id="east_window" data-options="region:'east',split:true" style="width:30%">
                {% block east %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
