{% extends 'base/base.html' %}
{% load static %}


{% block layout %}
    <div class="layout easyui-layout" data-options="fit:true">
        <div data-options="region:'north',split:true" style="height:25%;">
            {% block north %}
            {% endblock %}
        </div>
        <div data-options="region:'center',split:true" style="width:80%;">
            {% block center %}
            {% endblock %}
        </div>
        <div data-options="region:'east',split:true" style="width:15%">
            {% block east %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
