{% extends 'base/single_object_list.html' %}
{% load component_tags %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_ref %}
    {% component_dependencies 'btn' 'dlg_fm' 'dg' 'dlg_cpx' %}
    <script type="text/javascript" src="{% static 'js/skill_pdca/tt402.js' %}"></script>
{% endblock %}

{% block process_component %}
    <div class="btn-group btn-block">
         {% if perm.create == 'True' %}
            {% component name="btn"
                         btn_css_class='btn btn-outline-primary'
                         btn_node_id='new_btn'
                         btn_text=' 建立新資料 '
            %}
            {% component name="btn"
                         btn_css_class='btn btn-outline-success'
                         btn_node_id='create_btn'
                         btn_text=' 新增 '
            %}
        {% endif %}
        {% if perm.update == 'True' %}
            {% component name="btn"
                         btn_css_class='btn btn-outline-secondary'
                         btn_node_id='update_btn'
                         btn_text=' 儲存更新 '
            %}
        {% endif %}
        {% if perm.update == 'True' or perm.create == 'True' %}
            {% component name="btn"
                         btn_css_class='btn btn-outline-warning'
                         btn_node_id='cancel_btn'
                         btn_text=' 取消 '
            %}
        {% endif %}
        {% if perm.delete == 'True' %}
            {% component name="btn"
                         btn_css_class='btn btn-outline-danger'
                         btn_node_id='delete_btn'
                         btn_text=' 刪除 '
            %}
        {% endif %}
    </div>
{% endblock %}




{% block east_region %}
    <div data-options="region:'east',split:true" style="width:40%">
       {% block east %}
        <div style="width:100%; height: 100%">
            {% component name="dg"
                         config=main_dg_config
                         node_id='main_dg'
                         width='100%'
                         height='94%'
            %}
        </div>
        {% endblock %}
    </div>
{% endblock %}


{% block bottom_script %}
    var columnOrder = {{column_order|safe}}
    var currentFactory = "{{factory.id}}";
{% endblock %}
