{% extends 'base/four_grid_list.html' %}
{% load component_tags %}
{% load static %}

{% block head_ref %}
    {% component_dependencies 'btn' 'dlg_fm' 'dg' 'dlg_cpx' %}
    <script type="text/javascript" src="{% static 'js/kpi/pm206.js' %}"></script>
{% endblock %}

{% block main_search %}
{% endblock %}

{% block east %}
           <div>
<!--               <button  id="show_year_month" class="btn-sm btn-dark btn btn-outline-warning tooltip"  style="width:80px"><b>顯示資料</b>-->
<!--                    <span class="tooltiptext">顯示全年度有指標的月份</span>-->
<!--               </button>-->
                <label for="searchYear">&nbsp;&nbsp;年度&nbsp;</label>
                <input id='searchYear' class="easyui-textbox text-center"   name="searchYear" style="width:50px">
                &nbsp;
                <button  id="east_search" class="btn-sm btn-dark btn btn-outline-warning tooltip"  style="width:45px"><b>搜尋</b>
                    <span class="tooltiptext">顯示全年度有指標的月份</span>
                </button>
           </div>
            {% component name="dg"
                     config=metrics_setupDate_dg_config
                     node_id='metrics_setupDate_dg'
                     height='460px'
            %}
{% endblock %}

{% block north %}
    <div class="container"  style="display: inline-block;text-align:left;margin: 0;padding: 0">
      <div class="row align-items-start ">
        <div class="col">
            {% component name="dg"
                 config=employee_info_easy_dg_config
                 node_id='employee_info_easy_dg'
                 height='170px'
                 width='1000px'
           %}
        </div>
          <div class="col">
              <p></p>
<!--              <p></p>-->
<!--            <button  id="show_employee" class="btn-sm btn-dark btn btn-outline-warning tooltip"  style="display:inline;width:80px"><b>顯示資料</b>-->
<!--                    <span class="tooltiptext">顯示有指標的員工</span>-->
<!--            </button>-->
<!--              <p>&nbsp;</p>-->
<!--              <p>&nbsp;</p>-->
<!--            <button  id="south_search_open" class="btn-sm btn-dark btn btn-outline-warning tooltip"  id="south_search_open" style="width:80px"><b>開啟搜尋</b>-->
<!--                <span class="tooltiptext">工號/姓名/部門,交叉搜尋</span>-->
<!--            </button>-->
        </div>
          <div class="col">
              <br>
              <div id="south_search_dd" hidden="true">
                 <div class="easyui-panel" title="" style="width:100%;max-width:300px;height: 260px;padding:15px 30px;">
                    <label for="searchWorkCode">&nbsp;&nbsp;工號:&nbsp;</label>
                    <input id='searchWorkCode' class="easyui-textbox text-center"   name="searchWorkCode" style="width:150px">
                    <p></p>
                    <label for="searchChiName">&nbsp;&nbsp;姓名:&nbsp;</label>
                    <input id='searchChiName' class="easyui-textbox text-center"   name="searchChiName" style="width:150px">
                     <p></p>
                    <label for="searchDept">&nbsp;&nbsp;部門:&nbsp;</label>
                    <input id='searchDept' class="easyui-textbox text-center"   name="searchDept" style="width:150px">
                                            <hr>
                    <div style="text-align:center;padding:5px 0">
                     <button  id="south_search_sumit" class="easyui-linkbutton" style="width:45px">搜尋</button>
                     &nbsp;&nbsp;&nbsp;&nbsp;
                     <button  id="south_search_clear" class="btn-sm btn-dark btn btn-outline-warning tooltip" style="width:45px">清除
                         <span class="tooltiptext">清除>>搜尋:顯示全部資料</span>
                     </button>
                    </div>
                 </div>
            </div>
          </div>
      </div>
    </div>
{% endblock %}

<!-- 因應，複製/匯入按鈕 而增加的Area  ------------------------------------------------------------------------------------Begin-->
{% block process_component %}
    <div class="btn-group btn-block">
         {% if perm.create == 'True' %}
            {% component name="btn"
                         btn_css_class='btn btn-outline-primary'
                         btn_node_id='new_btn'
                         btn_text=' 建立新資料 '
            %}
            {% component name="btn"
                         btn_css_class='btn btn-outline-success'
                         btn_node_id='create_btn'
                         btn_text=' 新增 '
            %}
        {% endif %}
        {% if perm.update == 'True' %}
            {% component name="btn"
                         btn_css_class='btn btn-outline-secondary'
                         btn_node_id='update_btn'
                         btn_text=' 儲存更新 '
            %}
        {% endif %}
        {% if perm.update == 'True' or perm.create == 'True' %}
            {% component name="btn"
                         btn_css_class='btn btn-outline-warning'
                         btn_node_id='cancel_btn'
                         btn_text=' 取消 '
            %}
        {% endif %}
        {% if perm.delete == 'True' %}
            {% component name="btn"
                         btn_css_class='btn btn-outline-danger'
                         btn_node_id='delete_btn'
                         btn_text=' 刪除 '
            %}
        {% endif %}
    </div>
{% endblock %}
<!-- 因應，複製/匯入 而增加的Area  -----------------------------------------------------------------------------------Ending-->

{% block center_extra %}
    {% component name="dg"
                 config=main_dg_config
                 node_id='main_dg'
                 height='320px'
                 width='1100px'
    %}
{% endblock %}

{% block south %}
   <div class="row">
       <div class="col">
        {% component name="dg"
                 config=metrics_setup_dg_config
                 node_id='metrics_setup_dg'
                 height='250px'
                 width='1300px'
        %}
       </div>
       <div class="col">
           <p></p>
<!--           <button  id="show_metrics" class="btn-sm btn-dark btn btn-outline-warning tooltip"  style="width:80px"><b>顯示資料</b>-->
<!--                <span class="tooltiptext">顯示該月份的衡量指標</span>-->
<!--           </button>-->
       </div>
   </div>
{% endblock %}


{% block bottom_script %}
    var columnOrder = {{column_order|safe}}
    var userId = "{{user.username}}";
    var workingYear = "{{workingYear}}";
    var workingMonth = "{{workingMonth}}";
    var perm = {{request.session.perm|safe}};
    var is_director = "{{is_director}}";
{% endblock %}
